/*
 * Octopus dark UI theme by Peter Bartha
 */
body[class*="dark-ui"] .mde-preview {
  color: #fff;
  background-color: #112a38;
}
body[class*="dark-ui"] .mde-preview a {
  background-color: transparent;
}
body[class*="dark-ui"] .mde-preview img {
  border: 0;
}
body[class*="dark-ui"] .mde-preview input {
  color: inherit;
}
body[class*="dark-ui"] .mde-preview a {
  color: #ff9797;
}
body[class*="dark-ui"] .mde-preview strong,
body[class*="dark-ui"] .mde-preview em {
  color: #fff;
}
body[class*="dark-ui"] .mde-preview h1,
body[class*="dark-ui"] .mde-preview h2,
body[class*="dark-ui"] .mde-preview h3,
body[class*="dark-ui"] .mde-preview h4,
body[class*="dark-ui"] .mde-preview h5,
body[class*="dark-ui"] .mde-preview h6 {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview h1,
body[class*="dark-ui"] .mde-preview h2 {
  border-bottom-color: #398e67;
}
body[class*="dark-ui"] .mde-preview hr {
  background-color: #7b9aad;
}
body[class*="dark-ui"] .mde-preview blockquote {
  color: #40a0d6;
  background: #0d212d;
  border-left: 4px solid #133550;
  padding-top: 10px;
  padding-bottom: 10px;
}
body[class*="dark-ui"] .mde-preview table th {
  background-color: #0d212d;
}
body[class*="dark-ui"] .mde-preview table th,
body[class*="dark-ui"] .mde-preview table td {
  border: 1px solid #1c3b4c;
}
body[class*="dark-ui"] .mde-preview table tr {
  background-color: transparent;
  border-top: 1px solid #1c3b4c;
}
body[class*="dark-ui"] .mde-preview table tr:nth-child(2n) {
  background-color: #2c4f5b;
}
body[class*="dark-ui"] .mde-preview img {
  background-color: transparent;
}
body[class*="dark-ui"] .mde-preview .highlight pre,
body[class*="dark-ui"] .mde-preview pre {
  background: #0d212d;
}
body[class*="dark-ui"] .mde-preview .cm-header {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-quote {
  color: #40a0d6;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-negative {
  color: #ff5a5f;
}
body[class*="dark-ui"] .mde-preview .cm-positive {
  color: #4fc38e;
}
body[class*="dark-ui"] .mde-preview .cm-header,
body[class*="dark-ui"] .mde-preview .cm-strong {
  font-weight: bold;
}
body[class*="dark-ui"] .mde-preview .cm-em {
  color: #fa8eea;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-link {
  text-decoration: underline;
}
body[class*="dark-ui"] .mde-preview .cm-strikethrough {
  text-decoration: line-through #ff9797;
}
body[class*="dark-ui"] .mde-preview .cm-keyword {
  color: #fa8eea;
  font-weight: normal;
}
body[class*="dark-ui"] .mde-preview .cm-atom {
  color: #fa8eea;
}
body[class*="dark-ui"] .mde-preview .cm-number {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-def {
  color: #40a0d6;
}
body[class*="dark-ui"] .mde-preview .cm-property {
  color: #ff9797;
  background: #0d212d;
}
body[class*="dark-ui"] .mde-preview .cm-operator {
  color: #a3be8c;
}
body[class*="dark-ui"] .mde-preview .cm-variable,
body[class*="dark-ui"] .mde-preview .cm-punctuation {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-variable-2 {
  color: #fff;
}
body[class*="dark-ui"] .mde-preview .cm-variable-3,
body[class*="dark-ui"] .mde-preview .cm-type {
  color: #fa8eea;
}
body[class*="dark-ui"] .mde-preview .cm-comment {
  color: #7b9aad;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-string {
  color: #ff9797;
}
body[class*="dark-ui"] .mde-preview .cm-string-2 {
  color: #ff9797;
}
body[class*="dark-ui"] .mde-preview .cm-meta {
  color: #a3be8c;
}
body[class*="dark-ui"] .mde-preview .cm-qualifier {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-builtin {
  color: #fa8eea;
}
body[class*="dark-ui"] .mde-preview .cm-bracket {
  color: #00b5ad;
}
body[class*="dark-ui"] .mde-preview .cm-tag {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-attribute {
  color: #59d69d;
}
body[class*="dark-ui"] .mde-preview .cm-hr {
  color: #ff9797;
}
body[class*="dark-ui"] .mde-preview .cm-link {
  color: #a3be8c;
}
body[class*="dark-ui"] .mde-preview .cm-error {
  color: #ff5a5f;
}
